* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px 120px;
}

/* header */
.header-top {
    height: 70px;
    margin-bottom: 20px;
    background-color: #e579e6
}

.header-bottom {
    height: 350px;
    margin-bottom: 20px;
    background-color: #e1d67a
}


main{
    height: 350px;
    margin-bottom: 8px;
    background-color: #0085ff
}





/* footer */

footer {
    height: 60px;
    background-color: #8801fe
}