* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px 120px;
}

/* header */
.header-top {
    height: 70px;
    margin-bottom: 20px;
    background-color: #e579e6
}

.header-bottom {
    height: 350px;
    margin-bottom: 20px;
    background-color: #e1d67a
}


main{
    margin-bottom: 8px;
    background-color: #0085ff
}

.debug-main{
    height: 350px;
}

.main-top{
    /* *****debug***** */
    height: 50px;
    /* *****debug***** */
    background-color: #abcfe7
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;

}

.boxl{
    width: 20%;
}

.boxc{
    width: 60%;
}

.boxr{
    width: 20%;
}

.left{
    float: left;
}


.debug .boxl, .debug .boxc, .debug .boxr{
    height: 300px;
    background-color: #abcfe7;
}




/* footer */

footer {
    height: 60px;
    background-color: #8801fe
}